body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.ml {
  width: 25%;
  /*25% of the width of the parent*/
  float: left;
  margin-right: 30px;
}

.web-dev {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.Copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #3498db));
  background: -moz-linear-gradient(center top, #30e3cb 5%, #3498db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#3498db');
  background-color: #30e3cb;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  height: 40px;
  line-height: 43px;
  width: 165px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #2f6627;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3498db), color-stop(1, #30e3cb));
  background: -moz-linear-gradient(center top, #3498db 5%, #30e3cb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498db', endColorstr='#30e3cb');
  background-color: #3498db;
}

.btn:active {
  position: relative;
  top: 1px;
}
